name: Build Images

on:
  pull_request:
  push:
    branches:
      - main

env:
  TAG: latest

jobs:
  build-images:
    name: Build Images
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        image: ['jkube-java', 'jkube-java-11', 'jkube-jetty9', 'jkube-karaf', 'jkube-tomcat9', 'jkube-tomcat']
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install CEKit
        uses: cekit/actions-setup-cekit@v1.1.4
      - name: Build ${{ matrix.image }}
        run: |
          echo "Building quay.io/jkube/${{ matrix.image }}:${TAG}"
          cekit --descriptor ${{ matrix.image }}.yaml build docker --tag="quay.io/jkube/${{ matrix.image }}:${TAG}"
      - name: Test
        if: success()
        run: |
          ./scripts/test-${{ matrix.image }}.sh
